.main_border {
		margin: 0px 0px 0px 0px;
		padding: 0px;
		min-width: 310px;
		min-height: 340px;
		max-width: 800px;
		left: -240px;
		display: flex;
		justify-content: center;
		align-self: center;
		flex-wrap: wrap;
		border-radius: 16px;
		/*background-color: white;*/
		/* box-shadow:4px 4px 10px lightgrey; */
	}

	body {
		height: 100vh;
		margin: 0px;
		padding: 0px;
		min-width: 300px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient(to top right, #96fbc4, #f9f586);
	}

	header {
		width: 100%;

	}

	h1 {
		text-align: center;
	}
	
	.mind-body>div {
		margin: 20px 0px 20px 0px;
	}

	.tianchong {
		display: flex;
		flex: 1;
	}
	.box_shadow{
		box-shadow:2px 2px 20px lightgrey;
	}

	button {
		width: 100px;
	}
	p{
		padding-left: 100px;
	}
	.warningSpan{
		font-size: 18px;
		padding-left: 100px;
		color: orangered;
	}
	.warningColor{
		color: red;
	}
	.box {
	    width: 355px;
	    height: 400px;
	
	    padding-bottom: 30px;
	    margin-left: auto;
	    margin-right: auto;
	    position: relative;
	}
	.wrap{
	    width: 355px;
	    height: 400px;
	    float: left;
	    margin: 0px 50px;
	}
	.list {
	    position: absolute;
	}
	.viewport-flip{
	    -webkit-perspective:1000px;
	}
	.in {
	    -webkit-animation-timing-function: ease-out;
	    -webkit-animation-duration: 850ms;
	    animation-timing-function: ease-out;
	    animation-duration: 850ms;
	}
	.out {
	    -webkit-animation-timing-function: ease-in;
	    -webkit-animation-duration: 500ms;
	    animation-timing-function: ease-in;
	    animation-duration: 500ms;
	}
	      
	.flip.out {
	    -webkit-transform: rotateY(-90deg) scale(.9);
	    -webkit-animation-name: flipouttoleft;
	    transform: rotateY(-90deg) scale(.9);
	    animation-name: flipouttoleft;
	}
	.flip.in {
	    -webkit-animation-name: flipintoright;
	    -webkit-animation-duration: 225ms;
	    animation-name: flipintoright;
	    animation-duration: 225ms;
	}
	@-webkit-keyframes flipouttoleft {
	    from { -webkit-transform: rotateY(0); }
	    to { -webkit-transform: rotateY(-90deg) scale(.9); }
	}
	@keyframes flipouttoleft {
	    from { transform: rotateY(0); }
	    to { transform: rotateY(-90deg) scale(.9); }
	}
	@-webkit-keyframes flipintoright {
	    from { -webkit-transform: rotateY(90deg) scale(.9); }
	    to { -webkit-transform: rotateY(0); }
	}
	@keyframes flipintoright {
	    from { transform: rotateY(90deg) scale(.9); }
	    to { transform: rotateY(0); }
	}
	.dd{
	    display: none;
	}
	.show{
	    display: block;
	}
	
	.back{
	    width: 355px;
	   
	
	}
	.face{
	    width: 355px;
	    
	  
	}
	a{
		text-decoration: none;
	}
	a:hover{
		text-decoration: none;
	}
	a h1{
		color: black;
	}
